#myTopnav.topnav
  .scrollmenu
    %a.logo.header-format{:href => "/"} StoryCraft
    .toTheLeft
      .invisible.dropdown-contents
        %br/
        %br/
        // %a.main-links.header-format{:href => "#"} Stories
      %a#mainLessons.main-links.header-format{:href => "#"} Stories
      %a#mainLessons.main-links.header-format{:href => "#"} About Us
      %a.main-links.header-format.dropdown-contents{:href => "#"} Log in
      %a.icon{:href => "javascript:void(0);", :onclick => "changeToX(this);headerResize();"}
        .menu menu
        .bars
          .bar1
          .bar2
          .bar3

