// - include header
// = render :partial => 'header'
// = render 'header'

%h1 StoryCraft

%h2 Coming soon

// .image
//     =image_tag "dog_in_raincoat.jpg"
//     =image_tag "/assets/images/dog_in_raincoat.jpg"

// %img{:alt => "Dog in raincoat", :src => "dog_in_raincoat.jpg"}/
// %img{:alt => "Dog in raincoat", :src => "/images/dog_in_raincoat.jpg"}/

// %img{:alt => "Dog in raincoat", :src => "https://efronberg.files.wordpress.com/2017/04/img_2343.jpg?w=640"}/

%img{:src => "/images/dog_in_raincoat.jpg"}/

