
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    .header
      %a{:href => "#home"}StoryCraft
      %ul
        %li
          %a{:href => "#login"} Login
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#browse"} Browse
    .content
      %img{:src => "http://possievibrations.org/wp-content/uploads/2017/11/Coming-Soon.png"}/

